h1{
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name{
    color: orange;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
.halfwidth img{
   width: 100%;
}
.top{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;

}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato  );
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    ;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
