h1{
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.name{
    color: orange;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
.halfwidth img{
    width: 100%;
}